@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-anchor {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    margin: 0;
    padding: 0 0 0 2px;

    &.fixed {
        position: relative;
    }
}    

.ant-anchor-link-title {
    display: block;
    position: relative;
    color: variables.$body-color;
    margin-bottom: 10px;
}    

.ant-anchor-link {
    padding: 8px 0 8px 15px;
    line-height: variables.$line-height-base;
}

.ant-anchor-link-active{

    > .ant-anchor-link-title {
        color: theme.$primary;
    }
}

.ant-anchor-ink {
    &:before {
        content: ' ';
        position: relative;
        width: 2px;
        height: 100%;
        display: block;
        background-color: variables.$border-color;
        margin: 0 auto;
    }
}

.ant-anchor-ink-ball {
    width: 10px;
    height: 10px;
    border-radius: variables.$border-radius-circle;
    border: 2px solid theme.$primary;
    background-color: $white;
}