@use "../../variables/variables";

.ant-divider {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    background: variables.$border-color;
}

.ant-divider-horizontal {

    &.ant-divider-with-text,
    &.ant-divider-with-text-center,
    &.ant-divider-with-text-left,
    &.ant-divider-with-text-right {
        color: variables.$body-color;
        background: 0 0;

        &:before,
        &:after {
            border-top: 1px solid variables.$border-color;
        }
    }
}