@use "sass:color";
@use "../variables/theme";
@use "../variables/default-palette" as *;

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent} {
    &:hover,
    &:focus {
      background-color: color.adjust($color, $lightness: -10%) !important;
    }
  }
}

.bg-white {
  background-color: $white !important;
}

.bg-transparent {
  background-color: transparent !important;
}

@include bg-variant(".bg-primary", theme.$primary);

@include bg-variant(".bg-secondary", theme.$secondary);

@include bg-variant(".bg-success", theme.$success);

@include bg-variant(".bg-info", theme.$info);

@include bg-variant(".bg-warning", theme.$warning);

@include bg-variant(".bg-danger", theme.$danger);

@include bg-variant(".bg-dark", $gray-dark);

@include bg-variant(".bg-gray", $gray);

@include bg-variant(".bg-gray-light", $gray-light);

@include bg-variant(".bg-gray-lighter", $gray-lighter);

@include bg-variant(".bg-gray-lightest", $gray-lightest);
