@use "sass:map";
@use "../mixins/breakpoint";
@use "../variables/variables";

@each $breakpoint in map.keys(variables.$grid-breakpoints) {
  @include breakpoint.media-breakpoint-up($breakpoint) {
    $infix: breakpoint.breakpoint-infix($breakpoint, variables.$grid-breakpoints);

    .float#{$infix}-left {
      float: left !important;
    }
    .float#{$infix}-right {
      float: right !important;
    }
    .float#{$infix}-none {
      float: none !important;
    }
  }
}
