@use "../mixins/responsive";
@use "../variables/variables";

.footer {
    height: variables.$footer-height;
    display: flex;
    margin: 0 variables.$layout-content-gutter;
    align-items: center;
    border-top: 1px solid variables.$border-color;
    justify-content: space-between;

    @include responsive.screen-mobile {
        justify-content: center;
        flex-direction: column;
    }
}
