@use "sass:map";
@use "../mixins/responsive";
@use "../variables/variables";

.app-page-header {
    @include responsive.screen-mobile-above {
        display: flex;
    }
    align-items: center;
    margin-bottom: map.get(variables.$spacers, 3);

    @include responsive.print {
        display: none;
    } 
}