@use "../mixins/responsive";
@use "../variables/variables";
@use "../variables/default-palette" as *;

.side-nav {
    height: calc(100vh - #{variables.$header-height}); 
    position: fixed;
    top: variables.$header-height;
    box-shadow: variables.$side-nav-box-shadow;
    background-color: $white;
    z-index: variables.$zindex-navbar;

    @include responsive.print {
        display: none;
    } 

    .ant-menu-vertical .ant-menu-item,
    .ant-menu-vertical-left .ant-menu-item, 
    .ant-menu-vertical-right .ant-menu-item, 
    .ant-menu-inline .ant-menu-item, 
    .ant-menu-vertical .ant-menu-submenu-title, 
    .ant-menu-vertical-left .ant-menu-submenu-title, 
    .ant-menu-vertical-right .ant-menu-submenu-title, 
    .ant-menu-inline .ant-menu-submenu-title {
        line-height: 2.5rem;
        height: 2.5rem;
    }

    &.side-nav-dark {
        background-color: variables.$menu-dark-bg;
    }

    .hide-group-title {
        .ant-menu-item-group-title {
            display: none;
        }
    }
}

.mobile-nav-menu {
    height: calc(100vh - #{variables.$header-height} - 10px);
}