@use "sass:color";
@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-btn {
  font-size: variables.$font-size-base;
  padding: variables.$btn-padding-y variables.$btn-padding-x;
  line-height: variables.$btn-line-height;
  border-color: variables.$border-color;
  color: variables.$body-color;
  height: variables.$btn-size;
  border-radius: variables.$border-radius;

  &:hover,
  &:focus {
    background-color: $gray-lighter;
    border-color: $gray-lighter;
    color: variables.$body-color;
  }

  &.ant-btn-clicked {
    &:after {
      border-color: variables.$border-color;
    }
  }

  &.disabled,
  &[disabled] {
    color: rgba(variables.$body-color, 0.25);
    background-color: variables.$btn-disabled-color;
    border-color: variables.$border-color;

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: rgba(variables.$body-color, 0.25);
      background-color: $gray-lightest;
      border-color: variables.$border-color;
    }
  }
}

.ant-btn-sm {
  height: variables.$btn-size-sm;
  padding: variables.$btn-padding-y-sm variables.$btn-padding-x-sm;
  font-size: variables.$font-size-sm;
  font-weight: variables.$font-weight-semibold;
  border-radius: variables.$border-radius;
}

.ant-btn-lg {
  height: variables.$btn-size-lg;
  padding: variables.$btn-padding-y-lg variables.$btn-padding-x-lg;
  font-size: variables.$font-size-md;
  border-radius: variables.$border-radius;
}

a {
  &.ant-btn {
    padding-top: variables.$btn-padding-y;
    // line-height: $btn-line-height;

    &.ant-btn-sm {
      padding-top: variables.$btn-padding-y-sm;
    }

    &.ant-btn-lg {
      padding-top: variables.$btn-padding-y-lg;
    }
  }
}

.ant-btn-link {
  color: theme.$primary;
  background-color: transparent;
  border: 0px;

  &:hover,
  &:focus {
    background-color: transparent;
    color: theme.$primary;
  }

  &:hover {
    background-color: rgba(theme.$primary, 0.1);
  }

  &:active {
    background-color: rgba(theme.$primary, 0.2);
  }
}

.ant-btn-icon-only {
  width: variables.$btn-size;
  height: variables.$btn-size;
  font-size: variables.$font-size-md;
  border-radius: variables.$border-radius;
  padding: 0;
  
  &.ant-btn-lg {
    width: variables.$btn-size-lg;
    height: variables.$btn-size-lg;
    font-size: variables.$font-size-lg;
    border-radius: variables.$border-radius;
  }

  &.ant-btn-sm {
    width: variables.$btn-size-sm;
    height: variables.$btn-size-sm;
    font-size: variables.$font-size-sm;
    border-radius: 0.3rem;
  }
}

.ant-btn-circle,
.ant-btn-circle-outline {
  padding: 0;
  min-width: variables.$btn-size;
  border-radius: variables.$border-radius-circle;

  &.ant-btn-lg {
    min-width: variables.$btn-size-lg;
    padding: 0;
    border-radius: variables.$border-radius-circle;
  }

  &.ant-btn-sm {
    min-width: variables.$btn-size-sm;
    padding: 0;
    border-radius: variables.$border-radius-circle;
  }
}

.ant-btn-round {
  height: variables.$btn-size;
  border-radius: variables.$btn-size;
  padding: 0px variables.$btn-padding-x;

  &.ant-btn-lg {
    height: variables.$btn-size-lg;
    border-radius: variables.$btn-size-lg;
    border-top-left-radius: variables.$btn-size-lg;
    border-top-right-radius: variables.$btn-size-lg;
    border-bottom-right-radius: variables.$btn-size-lg;
    border-bottom-left-radius: variables.$btn-size-lg;
    padding: 0px variables.$btn-padding-x-lg;
  }

  &.ant-btn-sm {
    height: variables.$btn-size-sm;
    border-radius: variables.$btn-size-sm;
    border-top-left-radius: variables.$btn-size-sm;
    border-top-right-radius: variables.$btn-size-sm;
    border-bottom-right-radius: variables.$btn-size-sm;
    border-bottom-left-radius: variables.$btn-size-sm;
    padding: 0px variables.$btn-padding-x-sm;
  }
}

.ant-btn-round.ant-btn-icon-only {
  width: auto;
}

.ant-btn-background-ghost {
  border-color: $white;
  color: $white;
 
  &:hover,
  &:focus {
    border-color: theme.$primary;
    color: theme.$primary;
  }
  
  &.ant-btn-link {
    color: $white;

    &:hover,
    &:focus {
      color: theme.$primary;
    }

    &:active{
      color: color.adjust(theme.$primary, $lightness: -5%);
    }
  }
}

.ant-btn-primary {
  background-color: theme.$primary;
  border-color: theme.$primary;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: color.adjust(theme.$primary, $lightness: 5%);
    border-color: color.adjust(theme.$primary, $lightness: 5%);
  }

  &:active {
    color: $white;
    background-color: color.adjust(theme.$primary, $lightness: -5%);
    border-color: color.adjust(theme.$primary, $lightness: -5%);
  }

  &.active {
    color: $white;
    background-color: color.adjust(theme.$primary, $lightness: -5%);
    border-color: color.adjust(theme.$primary, $lightness: -5%);

    &:hover,
    &:focus {
      background-color: color.adjust(theme.$primary, $lightness: -5%);
      border-color: color.adjust(theme.$primary, $lightness: -5%);
    }
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    &:focus {
      box-shadow: none;
    }
  }

  &.ant-btn-background-ghost {
    background-color: transparent;
    border-color: theme.$primary;
    color: theme.$primary;

    &:hover,
    &:focus,
    &:active {
      border-color: color.adjust(theme.$primary, $lightness: 5%);
      color: color.adjust(theme.$primary, $lightness: 5%);
    }
  }

  &.disabled,
  &[disabled] {
    color: rgba(variables.$body-color, 0.25);
    background-color: $gray-lightest;
    border-color: variables.$border-color;

    &.active,
    &:active,
    &:hover,
    &:focus {
      color: rgba(variables.$body-color, 0.25);
      background-color: $gray-lightest;
      border-color: variables.$border-color;
    }
  }

  &.ant-btn-clicked {
    &:after {
      border-color: theme.$primary;
    }
  }
}

.ant-btn-dangerous {
  color: theme.$danger;
  border-color: theme.$danger;

  &:hover,
  &:focus {
    background-color: transparent;
    color: color.adjust(theme.$danger, $lightness: 5%);
    border-color: color.adjust(theme.$danger, $lightness: 5%);
  }

  &:active {
    background-color: transparent;
    color: color.adjust(theme.$danger, $lightness: -5%);
    border-color: color.adjust(theme.$danger, $lightness: -5%);
  }

  &.ant-btn-primary {
    background-color: theme.$danger;
    border-color: theme.$danger;
    color: $white;
  
    &:hover,
    &:focus {
      color: $white;
      background-color: color.adjust(theme.$danger, $lightness: 5%);
      border-color: color.adjust(theme.$danger, $lightness: 5%);
    }

    &:active {
      color: color.adjust(theme.$danger, $lightness: -5%);
      border-color: color.adjust(theme.$danger, $lightness: -5%);
    }
  }

  &.ant-btn-link {
    color: theme.$danger;

    &:hover,
    &:focus {
      background-color: transparent;
      color: theme.$danger;
    }

    &:hover {
      background-color: rgba(theme.$danger, 0.1);
    }

    &:active {
      background-color: rgba(theme.$danger, 0.2);
    }
  }
}

.ant-btn-dashed {
  color: variables.$body-color;
  background-color: transparent;
  border-color: variables.$border-color;
  border-style: dashed;
  border-width: 0.2rem;
}

.ant-btn-group {

  > .ant-btn:first-child {
    &:not(:last-child) {
      border-top-left-radius: variables.$border-radius;
      border-bottom-left-radius: variables.$border-radius;
    }
  }

  > .ant-btn:last-child {
    &:not(:first-child) {
      border-top-right-radius: variables.$border-radius;
      border-bottom-right-radius: variables.$border-radius;
    }
  }

  > span {
    &:first-child {
      &:not(:last-child) {
        > .ant-btn {
          border-top-left-radius: variables.$border-radius;
          border-bottom-left-radius: variables.$border-radius;
        }
      }
    }
  }

  > span {
    &:last-child {
      &:not(:first-child) {
        > .ant-btn {
          border-top-right-radius: variables.$border-radius;
        border-bottom-right-radius: variables.$border-radius;
        }
      }
    }
  }
}
