@use "sass:list";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-alert {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$alert-text-color;
    position: relative;
    padding: variables.$alert-padding-y variables.$alert-padding-x variables.$alert-padding-y variables.$alert-padding-w-icon;
    border-radius: variables.$alert-border-radius;
}

@each $alert in variables.$alert-loop {

    .#{list.nth($alert, 1)} {
        background-color: #{list.nth($alert, 2)};
        border: 1px solid #{list.nth($alert, 4)};

        .ant-alert-icon {
            color: #{list.nth($alert, 3)};
        }
    }
}   

.ant-alert-with-description {
    padding: variables.$alert-padding-y variables.$alert-padding-y variables.$alert-padding-y 64px;
    position: relative;
    border-radius: variables.$border-radius;
    color: variables.$alert-text-color;
    line-height: variables.$line-height-base;

    .ant-alert-message {
        font-size: variables.$font-size-lg;
        color: $gray-dark;
        margin-bottom: 5px;
    }    
}

.ant-alert-close-icon {

    .anticon-cross {
        color: variables.$alert-text-color;

        &:hover {
            color: $gray-dark;
        }
    }
}



