@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-drawer {
    z-index: variables.$zindex-modal;
}

.ant-drawer-header {
    padding: variables.$modal-header-padding;
    border-radius: 4px 4px 0 0;
    background: $white;
    color: variables.$body-color;
    border-bottom: 1px solid variables.$border-color;
}

.ant-drawer-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid variables.$border-color;
    padding: variables.$modal-footer-padding;
    left: 0px;
    background: $white;
}