@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-message {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    position: fixed;
    z-index: variables.$zindex-sticky;
    width: 100%;
    top: 1rem;
}

.ant-message-notice-content {
    padding: 0.625rem 1rem;
    border-radius: variables.$border-radius;
    background: $white;
    box-shadow: variables.$message-content-shadow;
}

.ant-message-success .anticon {
    color: variables.$state-success-text;
}

.ant-message-info .anticon {
    color: variables.$state-info-text;
}

.ant-message-error .anticon {
    color: variables.$state-warning-text;
}

.ant-message-error .anticon {
    color: variables.$state-danger-text;
}

.ant-message-loading .anticon {
    color: variables.$spin-color;
}
