@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-modal-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: variables.$zindex-modal;
}

.ant-modal {
    font-family: variables.$font-family-sans-serif;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    width: auto;
    margin: 0 auto;
    top: 6.25rem;
    padding-bottom: 1.5rem;
}  

.ant-modal-mask {
    background-color: variables.$modal-backdrop;
    z-index: variables.$zindex-modal-backdrop;
}

.ant-modal-content {
    background-color: $white;
    border-radius: variables.$border-radius;
    box-shadow: variables.$modal-content-shadow;
}

.ant-modal-close {
    z-index: 10;
    font-weight: variables.$font-weight-bold;
    line-height: 1;
    color: variables.$body-color;

    &:hover,
    &:focus {
        color: $gray-dark;
    }
}

.ant-modal-header {
    padding: variables.$modal-header-padding;
    border-radius: variables.$modal-border-radius variables.$modal-border-radius 0 0;
    background: variables.$modal-content-bg;
    color: $gray-dark;
    border-bottom: 1px solid variables.$border-color;
}

.ant-modal-title {
    color: $gray-dark;
    font-weight: variables.$font-weight-semibold;
    font-size: 16px;
    line-height: 22px;
}

.ant-modal-body {
    padding: variables.$modal-body-padding;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
}

.ant-modal-footer {
    border-top: 1px solid variables.$border-color;
    padding: variables.$modal-footer-padding;
    text-align: right;
    border-radius: 0 0 variables.$modal-border-radius variables.$modal-border-radius;
}

.ant-confirm-body {

    > .anticon {
        font-size: 22px;
        margin-right: 1rem;
        float: left;
    }

    .ant-confirm-title {
        color: $gray-dark;
        font-weight: 500;
        font-size: 16px;
        line-height: variables.$line-height-base;
    }

    .ant-confirm-content {
        margin-left: 38px;
        font-size: variables.$font-size-base;
        color: variables.$body-color;
        margin-top: 8px;
    }
}

.ant-confirm-success {

    .ant-confirm-body {

        > .anticon {
            color: variables.$state-success-text;
        }
    }
}  

.ant-confirm-error {

    .ant-confirm-body {

        > .anticon {
            color: variables.$state-danger-text;
        }
    }
}  

.ant-confirm-confirm,
.ant-confirm-warning {

    .ant-confirm-body > {

        .anticon {
            color: variables.$state-warning-text;
        }
    }
}

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-modal {
        top: 0;
    }
}
