@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-notification {
    font-family: variables.$font-family-base;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    margin: 0 24px 0 0;
    padding: 0;
    list-style: none;
    position: fixed;
    z-index: variables.$zindex-popover;
    width: variables.$notification-width;
    max-width: calc(100vw - 32px);
}    

.ant-notification-notice-message {
    font-size: 18px;
    color: $gray-dark;
    font-weight: variables.$font-weight-semibold;
}

.ant-notification-notice-with-icon {

    .ant-notification-notice-message {
        font-size: 18px;
    }
}
    
.ant-notification-notice-description {
    color: rgba(variables.$body-color, 0.8);
}

.ant-notification-notice-icon-success {
    color: variables.$state-success-text;
}

.ant-notification-notice-icon-error {
    color: variables.$state-danger-text;
}

.ant-notification-notice-icon-warning {
    color: variables.$state-warning-text;
}

.ant-notification-notice-icon-info {
    color: theme.$info;
}