@use "../../mixins/transform";
@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-progress {
    line-height: variables.$line-height-base;
    color: variables.$body-color;
}    

.ant-progress-inner {
    background-color: variables.$progress-bg;
    border-radius: variables.$progress-border-radius;
    vertical-align: middle;
    position: relative;
}

.ant-progress-line {
    width: 100%;
    font-size: variables.$font-size-base;
    position: relative;
}

.ant-progress-bg {
    border-radius: variables.$progress-border-radius;
    background-color: variables.$progress-bar-bg;
    position: relative;
}

.ant-progress-circle-trail {
    stroke: variables.$progress-bg;
}

.ant-progress-circle-path {
    stroke: variables.$progress-bar-bg;
}

.ant-progress-inner {
    &:not(.ant-progress-circle-gradient) {
        .ant-progress-circle-path {
            stroke: variables.$progress-bar-bg;
        } 
    }
}

.ant-progress-text {
    width: 2em;
    font-size: 1em;
    color: variables.$body-color;
    line-height: 1;
}

.ant-progress-status-exception {

    .ant-progress-bg {
        background-color: theme.$danger;
    }

    .ant-progress-text {
        color: theme.$danger;
    }

    .ant-progress-circle-path {
        stroke: theme.$danger;
    }

    .ant-progress-inner {
        &:not(.ant-progress-circle-gradient) {
            .ant-progress-circle-path {
                stroke: theme.$danger;
            } 
        }
    }
}

.ant-progress-status-success {

    .ant-progress-bg {
        background-color: theme.$success;
    }

    .ant-progress-text {
        color: theme.$success;
    }

    .ant-progress-circle-path {
        stroke: theme.$success;
    }

    .ant-progress-inner {
        &:not(.ant-progress-circle-gradient) {
            .ant-progress-circle-path {
                stroke: theme.$success;
            } 
        }
    }
}

.ant-progress-success-bg {
    background-color: theme.$success;
}

.ant-progress-circle {

    .ant-progress-text {
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        line-height: 1;
        top: 50%;
        @include transform.transform(translateY(-50%));
        left: 0;
        margin: 0;
        color: $gray-dark;
    }

    &.ant-progress-status-success {

        .ant-progress-text {
            color: theme.$success
        }
    }
} 

.ant-progress-small {

    &.ant-progress-line {
        font-size: 12px;

        .ant-progress-text {

            .anticon {
                font-size: 12px;
            }
        }
    }

    .ant-progress-bg {
        height: 4px !important;
    }
}  

