@use "../../variables/variables";

.ant-skeleton-content {

    .ant-skeleton-title {
        background: variables.$skeleton-color;
        border-radius: variables.$skeleton-radius;
    }

    .ant-skeleton-paragraph {
        > li {
            background: variables.$skeleton-color;
            border-radius: variables.$skeleton-radius;
        }
    }
}

.ant-skeleton-header {

    .ant-skeleton-avatar {
        background: variables.$skeleton-color;
    }
}


.ant-skeleton-element  {

    .ant-skeleton-button {
        background: variables.$skeleton-color;
        border-radius: variables.$btn-border-radius;
        width: 5.5rem;
        height: variables.$btn-size;
        line-height: variables.$btn-size;

        &.ant-skeleton-button-circle {
            width: variables.$btn-size;
        }
    }

    .ant-skeleton-button-sm {
        width: 4.75rem;
        height: variables.$btn-size-sm;
        line-height: variables.$btn-size-sm;

        &.ant-skeleton-button-circle {
            width: variables.$btn-size-sm;
        }
    }

    .ant-skeleton-button-lg {
        width: 6.25rem;
        height: variables.$btn-size-lg;
        line-height: variables.$btn-size-lg;

        &.ant-skeleton-button-circle {
            width: variables.$btn-size-lg;
        }
    }

    .ant-skeleton-avatar {
        background: variables.$skeleton-color;
        width: variables.$avatar-size;
        height: variables.$avatar-size;
        line-height: variables.$avatar-size;
    }

    .ant-skeleton-avatar-sm {
        width: variables.$avatar-size-sm;
        height: variables.$avatar-size-sm;
        line-height: variables.$avatar-size-sm;
    }

    .ant-skeleton-avatar-lg {
        width: variables.$avatar-size-lg;
        height: variables.$avatar-size-lg;
        line-height: variables.$avatar-size-lg;
    }

    .ant-skeleton-input {
        background: variables.$skeleton-color;
        height: variables.$input-height;
        line-height: variables.$input-height;
        border-radius: variables.$border-radius;
    }

    .ant-skeleton-input-sm {
        height: variables.$input-height-sm;
        line-height: variables.$input-height-sm;
    }


    .ant-skeleton-input-lg {
        height: variables.$input-height-lg;
        line-height: variables.$input-height-lg;
    }
}
