@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-breadcrumb {
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    font-size: variables.$font-size-base;

    a {
        color: $gray-light;

        &:hover {
            color: theme.$primary;
        }
    }

    > span:last-child {
        color: $gray-dark;
    }
}    