@use "../../mixins/transition";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-dropdown {
    color: variables.$dropdown-item-text;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: variables.$zindex-dropdown;
}    

.ant-dropdown-menu {
    min-width: variables.$dropdown-min-width;
    box-shadow: variables.$dropdown-shadow;
    border-radius: variables.$border-radius;

    ul {
        list-style: none;
        padding-left: 0px;
    }
}

.ant-dropdown-menu-item, 
.ant-dropdown-menu-submenu-title {
    padding: variables.$dropdown-padding-y variables.$dropdown-padding-x;
    margin: 0;
    font-size: variables.$font-size-base;
    font-weight: variables.$font-weight-normal;
    color: variables.$dropdown-item-text;
    line-height: variables.$line-height-base;

    > a {
        display: block;
        padding: 0;
        margin: 0;
        @include transition.transition(all 0.3s); 
        color: variables.$dropdown-item-text;
    }

    &:hover,
    &:focus {
        background-color: variables.$dropdown-bg-hover;
        color: variables.$dropdown-item-text-hover;

        > a {
            color: variables.$dropdown-item-text-hover;
            background-color: transparent;
        }
    }
}

.ant-dropdown-menu-item-disabled,
.ant-dropdown-menu-submenu-title-disabled {
    color: rgba(variables.$dropdown-item-text,.25);
    cursor: not-allowed;

    &:hover {
        color: rgba(variables.$dropdown-item-text,.25);
        background-color: $white;
        cursor: not-allowed;
    }
}

.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected {
    
    > a {
        background-color: variables.$dropdown-bg-hover;
    }
}