@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-page-header {
    color: $gray-dark;
    font-size: variables.$font-size-base;
}

.ant-page-header-title-view-title {
    color: $gray-dark;
    font-weight: variables.$font-weight-semibold;
    line-height: variables.$line-height-base;
}

.ant-page-header-title-view-sub-title {
    padding-right: 12px;
    color: $gray-light;
    font-size: variables.$font-size-base;
}    
