@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-cascader,
.ant-cascader-picker {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
}

.ant-cascader-picker {

    &:focus {
        .ant-cascader-input {
            border-color: variables.$input-theme-color;
            box-shadow: 0 0 0 2px rgba(variables.$input-theme-color,.2)
        }
    }
}

.ant-cascader-picker-label {

    &:hover {
        + .ant-cascader-input {
            border-color: variables.$input-theme-color
        }
    }
}

.ant-cascader-menu {
    min-width: variables.$cascader-menu-min-width;
    height: variables.$cascader-menu-height;
    border-right: 1px solid variables.$input-border-color;
}

.ant-cascader-menus {
    font-size: variables.$font-size-base;
    background: $white;
    z-index: variables.$zindex-dropdown;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    white-space: nowrap;
}

.ant-cascader-menu-item {
    padding: variables.$cascader-menu-item-spacing-y variables.$cascader-menu-item-spacing-x;
    line-height: variables.$cascader-menu-item-line-height;
    cursor: pointer;

    &:hover {
        background: variables.$select-item-hover;
    }

    .ant-cascader-menu-item-keyword {
        color: theme.$danger;
    }
}

.ant-cascader-menu-item-expand {
    padding-right: variables.$cascader-menu-item-spacing-x *2 ;

    &:after {
        display: inline-block;
        color: variables.$body-color;
        position: absolute;
        right: variables.$cascader-menu-item-spacing-x;
    } 
}

.ant-cascader-menu-item-active {

    &:not(.ant-cascader-menu-item-disabled) {
        background: variables.$select-item-selected;
        font-weight: 500;

        &:hover {
            background: variables.$select-item-selected;
            font-weight: 500;
        }
    }
}

.ant-cascader-menu-item-disabled {
    cursor: not-allowed;
    color: rgba($gray-dark,.25);

    &:hover {
        background-color: transparent;
    }
}

