@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-input-number {
    border: 1px solid variables.$input-border-color;
    line-height: variables.$input-line-height;
    height: variables.$select-height;
    color: variables.$body-color;
    font-size: variables.$font-size-base;
    border-radius: variables.$input-border-radius;

    &:hover,
    &:focus {
        border-color: variables.$input-theme-color;
    }

    &.ant-input-number-disabled {
        &:hover,
        &:focus {
            border-color: variables.$input-border-color;
        }
    }
}

.ant-input-number-input {
    height: variables.$select-height - 0.125rem;
}

.ant-input-number-lg {
    height: variables.$select-height-lg;

    .ant-input-number-input {
        height: variables.$select-height-lg - 0.125rem;
    }
}

.ant-input-number-sm {
    height: variables.$select-height-sm;

    .ant-input-number-input {
        height: variables.$select-height-sm - 0.125rem;
    }
}

.ant-input-number-handler-wrap {
    border-left: 1px solid variables.$input-border-color;
}    

.ant-input-number-handler {

    &:hover {
        .ant-input-number-handler-down-inner,
        .ant-input-number-handler-up-inner {
            color: variables.$input-theme-color;
        }
    }

    &:active {
        background-color: $gray-lightest;
    }
} 

.ant-input-number-handler-down {
    border-top: 1px solid variables.$input-border-color;
}

.ant-input-number-focused {
    border-color: variables.$input-theme-color;
}

.ant-input-number-handler-wrap {
    border-radius: 0 variables.$input-border-radius variables.$input-border-radius 0;
}