@use "../../mixins/placeholder";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-input {
    padding: variables.$input-padding-y variables.$input-padding-x;
    line-height: variables.$input-line-height;
    color: variables.$input-color;
    height: auto;
    border: 1px solid variables.$input-border-color;
    border-radius: variables.$input-border-radius;
    background-color: variables.$input-bg;

    &.ant-input:hover {
        border-color: variables.$input-theme-color;
    }

    &:focus,
    .ant-input-focused {
        border-color: variables.$input-theme-color;
        box-shadow: 0 0 0 2px rgba(variables.$input-theme-color,.2)
    }

    &.ant-input-disabled {
        &:hover,
        &:focus { 
            border-color: variables.$input-border-color;
        }         
    }

    &~.ant-input-prefix,
    &~.ant-input-suffix {

        &:not(.anticon) {

            .ant-input-search-button {
                height: variables.$select-height;
            }
        }
    }

    &:disabled {
        background-color: variables.$input-bg-disabled;
        cursor: not-allowed;

        &:hover {
            border-color: variables.$input-border-color;
        }  
    }

    @include placeholder.placeholder {
        color: variables.$input-color-placeholder;
    }
}

.ant-input-prefix {
    margin-right: 0.625rem;
}

.ant-input-sm {
    padding: variables.$input-padding-y-sm variables.$input-padding-x-sm;
    height: auto;

    &~.ant-input-prefix,
    &~.ant-input-suffix {

        &:not(.anticon) {

            .ant-input-search-button {
                height: variables.$select-height-sm;
            }
        }
    }
}    

.ant-input-lg {
    padding: variables.$input-padding-y-lg variables.$input-padding-x-lg;
    height: auto;
    font-size: variables.$input-font-size-lg;

    &~.ant-input-prefix,
    &~.ant-input-suffix {

        &:not(.anticon) {

            .ant-input-search-button {
                height: variables.$select-height-lg;
            }
        }
    }
}   

.ant-input-affix-wrapper {
    padding: variables.$input-padding-y variables.$input-padding-x;
    color: variables.$input-color;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    background-color: $white;
    border: 1px solid variables.$border-color;
    border-radius: variables.$input-border-radius;
    max-height: none;

    >input{
        &.ant-input {
            padding: 0;
            border: none;
            outline: none;
            border-radius: 0;
        }
    }

    &:hover {
        border-color: variables.$input-theme-color;
    }

    &:focus, 
    &.ant-input-affix-wrapper-focused {
        border-color: variables.$input-theme-color;
        box-shadow: 0 0 0 2px rgba(variables.$input-theme-color, 0.2);
    }
}

.ant-input-affix-wrapper-sm {
    padding: variables.$input-padding-y-sm variables.$input-padding-x-sm;
    max-height: none;
}

.ant-input-affix-wrapper-lg {
    padding: variables.$input-padding-y-lg variables.$input-padding-x-lg;
    max-height: none;
    
    .ant-input-prefix,
    .ant-input-suffix {
        font-size: variables.$input-font-size-lg;
    }
}

.ant-input-group-addon {
    border: 1px solid variables.$input-border-color;
    background-color: $gray-lightest;
    color: variables.$body-color;
    font-size: variables.$font-size-base;
    padding: 0 0.625rem;
    border-radius: variables.$border-radius;
}


textarea {
    &.ant-input {
        min-height: variables.$textarea-min-height;
    }
}

.ant-input-affix-wrapper-textarea-with-clear-btn {
    padding: 0;
    border: 0;
}

.ant-input-disabled {
    background-color: variables.$input-bg-disabled;
    cursor: not-allowed;

    &:hover {
        border-color: variables.$input-border-color;
    }
} 

.ant-input-affix-wrapper-disabled {
    background-color: variables.$input-bg-disabled;
    color: rgba(variables.$input-color, 0.6);
    &:hover {
        border-color: variables.$input-border-color;
    }
} 

.ant-form-item-required {
    &:before {
        color: variables.$input-error-color;
    }
}

.ant-input-search-icon {
    &:before {
        border-left: 1px solid variables.$border-color;
    }
}