@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-mentions {
    border: 1px solid variables.$input-border-color;
    line-height: variables.$input-line-height;

    > textarea {
        padding: variables.$input-padding-y variables.$input-padding-x;
    }
}

.ant-mentions-measure {
    padding: variables.$input-padding-y variables.$input-padding-x;
}

.ant-mention-dropdown {
    line-height: variables.$line-height-base;
    color: variables.$dropdown-item-text;
    margin: variables.$dropdown-margin 0 0;
    padding: 0;
    list-style: none;
    max-height: variables.$dropdown-max-height;
    min-width: variables.$dropdown-min-width;
    background-color: variables.$dropdown-bg;
    border-radius: variables.$border-radius;
    z-index: variables.$zindex-dropdown;
}

.ant-mentions-dropdown-menu-item {
    position: relative;
    display: block;
    padding: variables.$dropdown-padding-y variables.$dropdown-padding-x;
    line-height: variables.$line-height-base;
    font-weight: variables.$font-weight-normal;
    color: variables.$dropdown-item-text;
}

.ant-mentions-dropdown-menu-item-active,
.ant-mentions-dropdown-menu-item.focus,
.ant-mentions-dropdown-menu-item:hover {
    background-color: variables.$dropdown-bg-hover;
}

.ant-mention-dropdown,
.ant-menu {
    font-family: variables.$font-family-sans-serif;
}