@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-select {
    color: $white;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;

    &:not(.ant-select-disabled) {
        &:hover {

            .ant-select-selector {
                border-color: $gruu-primary;
                border-right-width: 1px !important;
            }
        }
    }
}  

.ant-select-single {

    &:not(.ant-select-customize-input) {
        .ant-select-selector {
            background-color: $brand-primary;
            border: 1px solid variables.$input-border-color;
            border-radius: variables.$input-border-radius;
            height: variables.$select-height + 0.125rem;
            padding: 0 11px;

            .ant-select-selection-search-input {
                height: variables.$select-height;
            }
        }
    }

    &:not(.ant-select-disabled) {
        &:hover {
            .ant-select-selector {
                border-color: $gruu-primary;
                box-shadow: 0 0 0 2px rgba($gruu-primary, 0.2);
            }
        }
    }

    .ant-select-selector {

        .ant-select-selection-item,
        .ant-select-selection-placeholder {
            line-height: variables.$select-height;
        }
    }

    &.ant-select-sm {
        &:not(.ant-select-customize-input) {
            .ant-select-selector {
                height: variables.$select-height-sm + 0.125rem;
            }

            &:not(.ant-select-customize-input) {
                .ant-select-selection-search-input {
                    height: variables.$select-height-sm;
                }
            }

            .ant-select-selector {

                .ant-select-selection-item,
                .ant-select-selection-placeholder {
                    line-height: variables.$select-height-sm;
                }
            }
        }
    }

    &.ant-select-lg {
        &:not(.ant-select-customize-input) {
            .ant-select-selector {
                height: variables.$select-height-lg + 0.125rem;
            }

            &:not(.ant-select-customize-input) {
                .ant-select-selection-search-input {
                    height: variables.$select-height-lg;
                }
            }

            .ant-select-selector {

                .ant-select-selection-item,
                .ant-select-selection-placeholder {
                    line-height: variables.$select-height-lg;
                }
            }
        }
    }
}

.ant-select-multiple {
    .ant-select-selector {
        background-color: $white;
        border: 1px solid variables.$input-border-color;
        border-radius: variables.$input-border-radius;
        padding: 1px variables.$select-tag-margin-y;
        min-height: variables.$select-height + 0.125rem;
    }

    .ant-select-selection-item {
        height: variables.$select-tag-height;
        line-height: variables.$select-tag-height - 0.125rem;
        margin-top: variables.$select-tag-margin-y;
        margin-right: variables.$select-tag-margin-x;
        margin-bottom: variables.$select-tag-margin-y;
        padding: 0 4px 0 8px;
        
        background: variables.$select-tag-color;
        border: 1px solid #f0f0f0;
        border-radius: variables.$border-radius;
    }

    &.ant-select-sm {

        .ant-select-selector {
            min-height: variables.$select-height-sm + 0.125rem;
        }

        .ant-select-selection-item {
            height: variables.$select-tag-height-sm;
            line-height: variables.$select-tag-height-sm - 0.125rem;
        }
    }

    &.ant-select-lg {

        .ant-select-selector {
            min-height: variables.$select-height-lg + 0.125rem;
        }
        
        .ant-select-selection-item {
            height: variables.$select-tag-height-lg;
            line-height: variables.$select-tag-height-lg - 0.125rem;
        }
    }
}

.ant-select-focused {
    &:not(.ant-select-disabled) {
        &.ant-select-single {
            &:not(.ant-select-customize-input) {
                .ant-select-selector {
                    border-color: $gruu-primary;
                    box-shadow: 0 0 0 2px rgba($gruu-primary, 0.2);
                }
            }
        }
    }
    &.ant-select-single {
        &:not(.ant-select-customize-input) {

            .ant-select-selector {
                border-color: variables.$input-theme-color;
                box-shadow: 0 0 0 2px rgba(variables.$input-theme-color, 0.2);
            }
        }
    }

    &.ant-select-multiple {
        .ant-select-selector {
            border-color: variables.$input-theme-color;
            box-shadow: 0 0 0 2px rgba(variables.$input-theme-color, 0.2);
        }
    }
}



.ant-select-item {
    min-height: variables.$select-item-min-height;
    padding: variables.$select-item-spacer-x variables.$select-item-spacer-y;
    color: variables.$body-color;
    font-weight: variables.$font-weight-normal;
    font-size: variables.$font-size-base;
    line-height: variables.$select-item-line-height;
}

.ant-select-item-option {
    align-items: center;
}

.ant-select-item-option-disabled {
    color: rgba(variables.$body-color, 0.4)
}

.ant-select-item-option-selected {
    &:not(.ant-select-item-option-disabled) {
        color: $gruu-primary;
        font-weight: variables.$font-weight-semibold;
        background-color: transparent;

        .ant-select-item-option-state {
            color: $gruu-primary;
        }
    }
}

.ant-select-item-option-active {
    &:not(.ant-select-item-option-disabled) {
        background-color: rgba($gruu-primary, 0.1);
        color: $gruu-primary;
    }
}

.ant-select-dropdown {
    border-radius: 15px;
}
