@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-switch {
    font-size: variables.$font-size-base;
    color: variables.$body-color;
    line-height: variables.$line-height-base;
    height: variables.$switch-height;
    min-width: variables.$switch-min-width;

    &:after {
        width: variables.$switch-size;
        height: variables.$switch-size;
        border-radius: variables.$switch-size;
        background-color: $white;
    }

    &:before {
        width: variables.$switch-size;
        height: variables.$switch-size;
        font-size: variables.$switch-loading-size;
    }
}

.ant-switch-checked {
    background-color: variables.$switch-theme-color;
    
    &:after,
    &:before {
        left: 100%;
    }

    &:before {
        margin-left: -(variables.$switch-size) - 1px;
    }    
}

.ant-switch-small {
    height: variables.$switch-height-sm;
    min-width: variables.$switch-min-width-sm;
    line-height: variables.$line-height-base;
   
    &:after {
        width: variables.$switch-size-sm;
        height: variables.$switch-size-sm;
        border-radius: variables.$switch-size-sm;
    }

    &:before {
        width: variables.$switch-size-sm;
        height: variables.$switch-size-sm;
        font-size: variables.$switch-loading-size-sm;
    }

    &.ant-switch-checked {
        &:after,
        &:before {
            left: 100%;
            margin-right: -(variables.$switch-size-sm) - 1px;
        } 
    }

    .ant-switch-handle {
        top: 1.5px;
    }
}

.ant-switch-inner {
    color: $white;
    font-size: variables.$switch-font-size;
    margin-left: variables.$switch-size + 6px;
    margin-right: 6px;
    line-height: variables.$switch-size;
}

.ant-switch-checked .ant-switch-inner {
    margin-left: 6px;
    margin-right: variables.$switch-size + 6px;
}

.ant-switch-handle {
    top: 3px;
    left: 3px;
}