@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-picker-dropdown {
    color: variables.$body-color;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    position: absolute;
}

.ant-picker-time-panel-column {

    > li {
        &.ant-picker-time-panel-cell {

            .ant-picker-time-panel-cell-inner {
                color: variables.$body-color;

                &:hover {
                    background: $gray-lightest;
                }
            }
        }

        &.ant-picker-time-panel-cell-selected {

            .ant-picker-time-panel-cell-inner {
                color: variables.$picker-calendar-theme-color;
                background: rgba(variables.$picker-calendar-theme-color, 0.1);
                font-weight: variables.$font-weight-semibold;

                &:hover {
                    background: rgba(variables.$picker-calendar-theme-color, 0.1);
                }
            }
        }
    }

    &:not(:first-child) {
        border-left: 1px solid variables.$border-color;
    }
}
