@use "sass:color";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-select-tree, 
.ant-select-tree-checkbox-group {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
}

.ant-select-tree {
    li  {
        .ant-select-tree-node-content-wrapper {

            &:hover {
                background-color: variables.$dropdown-bg-hover;
            }

            &.ant-select-tree-node-selected {
                background-color: color.adjust($color: variables.$dropdown-bg-hover, $lightness: -5%)
            }
        }
    }
}

.ant-select-tree-checkbox {
    color: variables.$body-color;
}

.ant-select-tree-checkbox-checked 
.ant-select-tree-checkbox-inner {
    background-color: variables.$checkbox-theme-color;
    border-color: variables.$checkbox-theme-color;
}

.ant-select-tree-checkbox-inner {
    border-radius: variables.$border-radius;
}

.ant-select-tree-checkbox-checked {
    &:after {
        border: 1px solid variables.$checkbox-theme-color;
        border-radius: variables.$border-radius;
    }
}

li.ant-tree-treenode-disabled {

    >.ant-tree-node-content-wrapper {

        &:hover {
            background-color: transparent;
        }
    }
} 