@use "sass:list";
@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-avatar {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    text-align: center;
    background: variables.$avatar-bg;
    color: $white;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle; 
    width: variables.$avatar-size;
    height: variables.$avatar-size;
    line-height: variables.$avatar-size;
    border-radius: variables.$border-radius-circle; 

    &.ant-avatar-icon {
        font-size: variables.$avatar-icon;
    }
}

.ant-avatar-lg {
    width: variables.$avatar-size-lg;
    height: variables.$avatar-size-lg;
    line-height: variables.$avatar-size-lg;

    > * {
        line-height: variables.$avatar-size-lg;
    }    

    &.ant-avatar-icon {
        font-size: variables.$avatar-icon-lg;
    }
}

.ant-avatar-sm {
    width: variables.$avatar-size-sm;
    height: variables.$avatar-size-sm;
    line-height: variables.$avatar-size-sm;

    > * {
        line-height: variables.$avatar-size-sm;
    }    

    &.ant-avatar-icon {
        font-size: variables.$avatar-icon-sm;
    }
}

.ant-avatar-square {
    border-radius: variables.$border-radius;
}

@each $tone in theme.$tone-loop {

    .ant-avatar-#{list.nth($tone, 1)} {
        color: #{list.nth($tone, 2)};
        background: #{list.nth($tone, 3)};
    }
}    

@each $state in theme.$state-color-loop {
    .ant-avatar-#{list.nth($state, 1)} {
        color: #{list.nth($state, 2)};
        background: rgba(list.nth($state, 2), 0.1);
    }
}

.avatar-string {

    .ant-avatar {
        margin-left: -5px;
        border: 2px solid $white;
    }
} 

.avatar-status-name {
    color: $gray-dark;
    font-weight: variables.$font-weight-semibold;

    &.clickable {
        cursor: pointer;

        &:hover {
            color: theme.$primary;
        }
    }
}