@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-badge {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    position: relative;
}

.ant-badge-count {
    height: variables.$badge-count-height;
    background: variables.$badge-count-bg;
    color: $white;
    line-height: variables.$badge-count-height;
    padding: 0 5px;
    font-size: variables.$badge-count-font-size;
    font-weight: variables.$font-weight-normal;

    p {
        color: $white;
        line-height: variables.$badge-count-height;
    }
}    

.ant-badge-status-text {
    color: variables.$body-color;
    font-size: variables.$font-size-base;
    margin-left: 8px; 
}

.ant-badge-default {

    p {
        color: $gray-light;
    }
}

.ant-badge-status-dot {
    width: variables.$badge-dot-size;
    height: variables.$badge-dot-size;
    border-radius: variables.$border-radius-circle;
    top: -1px;
}

.ant-badge-status-default {
    background-color: $gray-lighter;
}

.ant-badge-status-error {
    background-color: theme.$danger;
}

.ant-badge-status-success {
    background-color: theme.$success;
}

.ant-badge-status-warning {
    background-color: theme.$warning;
}

.ant-badge-status-processing {
    background-color: variables.$badge-dot-processing-bg;

    &:after {
        border: 1px solid variables.$badge-dot-processing-bg;
    }
}

// @each $badge in $tone-loop {
//     .ant-badge-status-#{nth($badge, 1)} {
//         background: #{nth($badge, 2)};
//     }
// }
