@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-card {
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    background: variables.$card-bg;
    border-radius: variables.$card-border-radius;
    font-size: variables.$font-size-base;
    margin-bottom: 1.25rem;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
}   

.ant-card-bordered {
    border: 1px solid variables.$card-border-color;
}

.ant-card-head {
    background: variables.$card-head-bg;
    padding: 0 variables.$card-spacer-x;
    border-radius: variables.$card-border-radius variables.$card-border-radius 0 0;
    margin-bottom: -1px;
    min-height: variables.$card-head-min-height;
    border-bottom: 0;
    color: $gray-dark;
    font-size: variables.$font-size-md;

    .ant-tabs-bar {
        border-bottom: 1px solid variables.$card-border-color;
    }

    .ant-tabs {
        margin-bottom: -21px;
    }
}

.ant-card-extra {
    padding-top: variables.$card-spacer-x;
    padding-bottom: 0;
}

.ant-card-head-title {
    font-weight: variables.$font-weight-bold;
    padding-bottom: 0;
}

.ant-card-body {
    padding: variables.$card-spacer-y  variables.$card-spacer-x;
}

.ant-card-meta-description {
    color: $gray-light;
}

.ant-card-type-inner {

    .ant-card-head {
        padding: 0 variables.$card-spacer-x;
        background: $gray-lightest;
    }

    .ant-card-body {
        padding: variables.$card-spacer-y variables.$card-spacer-x;
    }
}

.ant-card-grid {
    border-radius: 0;
    border: 0;
    box-shadow: 1px 0 0 0 variables.$card-border-color,
                0 1px 0 0 variables.$card-border-color,
                1px 1px 0 0 variables.$card-border-color,
                1px 0 0 0 variables.$card-border-color inset,
                0 1px 0 0 variables.$card-border-color inset;
    width: auto;
    padding: variables.$card-spacer-y variables.$card-spacer-x;
}    

.ant-card-actions {
    border-top: 1px solid variables.$card-border-color;
    background: variables.$card-action-bg;

    > li {
        float: left;
        text-align: center;
        margin: 15px 0;
        color: variables.$body-color;

        & :not(:last-child) {
            border-right: 1px solid variables.$card-border-color;
        }
        
        > span {

            .anticon {
                font-size: 16px;
                line-height: variables.$line-height-base;;
            }  
            
            &:hover {
                color: theme.$primary;
            }
        }
    }
}

.ant-card-footer {
    margin-left: -(variables.$card-spacer-x);
    margin-right: -(variables.$card-spacer-x);
    margin-bottom: -(variables.$card-spacer-y);
    padding: 1rem variables.$card-spacer-x;
}

.ant-card-meta-title {
    color: $gray-dark;
    font-weight: variables.$font-weight-bold;
    font-size: variables.$font-size-md;
}

.ant-card-hoverable {

    &:hover {
        box-shadow: variables.$card-hover-shadow;
        border-color: variables.$card-border-color;
    }
}

.off-gutter-x {
    margin-left: -(variables.$card-spacer-x);
    margin-right: -(variables.$card-spacer-x);
}

.off-gutter-top {
    margin-top: -(variables.$card-spacer-y);
}

.off-gutter-bottom {
    margin-bottom: -(variables.$card-spacer-y);
}