@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-collapse {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    background-color: variables.$collapse-bg;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$collapse-border;
    border-bottom: 0;

    > .ant-collapse-item {
        border-bottom: 1px solid variables.$border-color;
        
        > .ant-collapse-header {
            line-height: variables.$line-height-base;
            padding: variables.$collapse-header-spacing;
            color: variables.$collapse-header-color;
            position: relative;
        }
    }

    .ant-collapse-item-disabled {

        > .ant-collapse-header {
            cursor: not-allowed;
            color: rgba(variables.$collapse-header-color, 0.25);

            >.arrow {
                cursor: not-allowed;
                color: rgba(variables.$collapse-header-color, 0.25);
            }
        }
    }
}    

.ant-collapse-content {
    color: variables.$body-color;
    background-color: $white;
    border-top: 1px solid variables.$border-color;

    > .ant-collapse-content-box {
        padding: variables.$collapse-content-spacing;
    }
}

.ant-collapse-borderless {
    background-color: transparent;
    border: 0;

    > .ant-collapse-item {
        > .ant-collapse-header {
            font-size: variables.$collapse-header-size;
        }
        
        > .ant-collapse-content {

            > .ant-collapse-content-box {
                padding-top: 0.25rem;
            }
        }

        &:last-child {
            border-bottom: 0;
        }
    } 
}