@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-statistic {
    color: $gray-dark;
    line-height: variables.$line-height-base;
}

.ant-statistic-title {
    margin-bottom: 5px;
    font-size: variables.$font-size-base;
    color: variables.$text-muted;
}

.ant-statistic-content {
    font-family: variables.$font-family-base;
}