@use "sass:color";
@use "sass:list";
@use "../../variables/theme";
@use "../../variables/variables";
@use "../../variables/default-palette" as *;

.ant-tag {
    margin-right: 0.625rem;
    display: inline-block;
    line-height: variables.$tag-line-height;
    height: variables.$tag-height;
    padding: 0 variables.$tag-spacer;
    border-radius: variables.$border-radius-sm;
    border: 1px solid variables.$border-color;
    background: variables.$tag-bg;
    font-size: variables.$tag-font-size;
    color : variables.$body-color;

    .anticon-cross {
        display: inline-block;
        cursor: pointer;
        margin-left: 3px;
        transition: all .3s;
        color: rgba(variables.$body-color,.45);
        font-weight: 700;
    }
}

.ant-tag-checkable {
    background-color: transparent;
    border-color: transparent;
    
    &:active {
        background-color: color.adjust(variables.$tag-theme-color, $lightness: -10%);
        color: $white;
    }
    
    &:not(.ant-tag-checkable-checked){

        &:hover { 
            color: variables.$tag-theme-color;
        }
    }
}

.ant-tag-checkable-checked {
    background-color: variables.$tag-theme-color;
    color: $white
}

.ant-tag-has-color {
    color: $white;

    .anticon-cross,
    a {
        color: $white;

        &:hover {
            color: $white;
        }
    }
}    

@each $tone in theme.$tone-loop {

    .ant-tag-#{list.nth($tone, 1)} {
        color: #{list.nth($tone, 2)};
        background: #{list.nth($tone, 3)};
        border-color: transparent;
        font-weight: 500;
    }
}    

.m-b-0 {

    .ant-tag {
        margin-bottom: 0;
    }    
}

.m-r-0 {

    .ant-tag {
        margin-right: 0;
    }    
}

.editable-tag {

    .ant-tag {
        border-style: dashed;
    }
}










