@use "../../variables/theme";
@use "../../variables/variables";

.ant-timeline {
    line-height: variables.$line-height-base;
    color: variables.$body-color;
}

.ant-timeline-item {
    position: relative;
    padding-bottom: variables.$timeline-gutter;
}

.ant-timeline,
.ant-timeline-item {
    font-size: variables.$font-size-base;
}

.ant-timeline-item-tail {
    position: absolute;
    left: 4px;
    top: .75em;
    height: 100%;
    border-left: 2px dashed variables.$timeline-line-color;
}

.ant-timeline-item-head {
    width: variables.$timeline-dot-size;
    height: variables.$timeline-dot-size;
    background-color: variables.$timeline-dot-bg;
    border-radius: 100px;
    border: 2px solid variables.$timeline-line-color;
}

.ant-timeline-item-head-primary {
    border-color: variables.$timeline-theme-color;
    color: variables.$timeline-theme-color;
}

.ant-timeline-item-head-blue,
.ant-timeline-item-head-info {
    border-color: variables.$timeline-theme-color;
    color: variables.$timeline-theme-color;
}

.ant-timeline-item-head-green,
.ant-timeline-item-head-success {
    border-color: theme.$success;
    color: theme.$success;
}

.ant-timeline-item-head-red,
.ant-timeline-item-head-danger {
    border-color: theme.$danger;
    color: theme.$danger;
}

.ant-timeline-item-head-warning {
    border-color: theme.$warning;
    color: theme.$warning;
}

.ant-timeline-item-head-custom {
    position: absolute;
    text-align: center;
    line-height: 1;
    margin-top: 0;
    border: 0;
    height: auto;
    border-radius: 0;
    padding: 3px 1px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 5px;
    left: 5px;
    width: auto;
}