@use "../../variables/variables";
@use "../../variables/default-palette" as *;


.ant-tooltip {
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$body-color;
    z-index: variables.$zindex-tooltip;
}

.ant-tooltip-inner {
    max-width: variables.$tooltip-max-width;
    padding: variables.$tooltip-spacer-y variables.$tooltip-spacer-x;
    color: $white;
    text-align: left;
    text-decoration: none;
    background-color: variables.$tooltip-bg;
    border-radius: variables.$border-radius;
    box-shadow: 0 2px 8px rgba($gray-dark, 0.15);
    min-height: auto;
}


.ant-tooltip-placement-leftTop .ant-tooltip-arrow {
    top: 8px;
}

.ant-tooltip-placement-left,
.ant-tooltip-placement-leftBottom,
.ant-tooltip-placement-leftTop {
    padding-right: variables.$tooltip-placement-gutter;
    
    .ant-tooltip-arrow {
        right: variables.$tooltip-arrow-position;
        border-width: 5px 0 5px 5px;
        border-left-color: variables.$tooltip-bg;
    }
}

.ant-tooltip-placement-bottom, 
.ant-tooltip-placement-bottomLeft, 
.ant-tooltip-placement-bottomRight {
    padding-top: variables.$tooltip-placement-gutter;

    .ant-tooltip-arrow {
        top: variables.$tooltip-arrow-position;
        border-width: 0 5px 5px;
        border-bottom-color: variables.$tooltip-bg;
    }
}

.ant-tooltip-placement-right,
.ant-tooltip-placement-rightBottom,
.ant-tooltip-placement-rightTop {
    padding-left: variables.$tooltip-placement-gutter;

    .ant-tooltip-arrow {
        left: variables.$tooltip-arrow-position;
        border-width: 5px 5px 5px 0;
        border-right-color: variables.$tooltip-bg;
    }
}

.ant-tooltip-placement-top,
.ant-tooltip-placement-topLeft, 
.ant-tooltip-placement-topRight {
    padding-bottom: variables.$tooltip-placement-gutter;

    .ant-tooltip-arrow {
        bottom: variables.$tooltip-arrow-position;
        border-width: 5px 5px 0;
        border-top-color: variables.$tooltip-bg;
    }
}

.ant-tooltip-arrow::before {
    background-color: variables.$tooltip-bg;
}